body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(90deg, #f8f8f8 21px, transparent 1%) center, linear-gradient(#f6f6f6 21px, transparent 1%) center, #000000;
background-size: 22px 22px;
}
.container {
    padding: 5px;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    width: 500px;
    margin: auto;
}
.add-player {
    cursor: pointer;
    text-align: center;
    color: #fff;
    display: block;
    padding: 5px;
    background: #e74c3c;
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
}
.players {
    max-height: 90vh;
    overflow: auto;
}
.player {
    position: relative;
    border-radius: 3px;
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #d9d9d9;
    margin: 5px 0;
}
.player .player-name {
    line-height: 18px;
    margin: 10px 0;
}
.input-group {
    display: flex;
}
.input-group input[type=text] {
    flex-grow: 1;
}
.change-account {
    padding: 5px 10px;
    border: 0;
    color: #fff;
    background: #e74c3c;
}
.display-scores {
    margin-bottom: 10px;
}
.display-scores span {
    margin-right: 10px;
}
.close-button {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
}
i.close-icon {
    transform: rotate(45deg);
    border-radius: 5px;
    display: block;
    width: 10px;
    height: 2px;
    background: #333;
}
i.close-icon:after {
    content: '';
    border-radius: 5px;
    transform: rotate(-90deg);
    position: absolute;
    display: block;
    width: 10px;
    height: 2px;
    background: #333;
}

@media (max-width: 500px) {
    .container {
        width: 100%;
    }
}
