
.maxwidth-theme {
    max-width: 1410px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 100%!important;
    max-width: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

.views-item {
    padding: 0;
}

button {
    letter-spacing: 0.03em;
    font-weight: bold;
}

.contacts-title {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: #222222;
    margin-bottom: 25px;
}

.views-item.project .tags {
    line-height: 2.5;
    margin-bottom: 40px;
}

.views-item.project .tag {
    padding: 0 8px;
}

.views-item.project .tag,
.views-item.project .tag-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
}

.views-item.project .tag img {
    margin-right: 10px;
}

.views-item.project .tag-text {
    padding-bottom: 5px;
    border-bottom: 2px solid #feb1a7;
}

.views-item.project  .tag:hover {
    text-decoration: none;
}

.views-item.project .tag:hover .tag-text {
    border-bottom: 2px solid #FD634E;
}

h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #222222;
    margin-bottom: 20px;
}

.undertitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    margin: 0;
}
/* 
.views-item.project {
    margin-bottom: 130px;
} */

.views-item.map {
    margin-bottom: 30px;
}

.views-item-title {
    padding: 80px 0;
}

.contacts-map img {
    width: 100%;
}

.views-item.gallery {
    overflow: hidden;
}

.views-item.gallery .owl-stage-outer {
    overflow: visible;
}

.views-item.calls {
    margin-bottom: 70px;
}

.views-item.calls .call {
    background: #EEEFF6;
    padding: 40px;
    height: 100%;
}

.views-item.calls .call img {
    display: block;
    margin: auto;
}

.views-item.calls .call-text {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #222;
    margin-bottom: 30px;
}

.views-item.calls .call .button {
    margin-bottom: 30px;
}

.views-item.calls .call .image {
    margin-bottom: -40px;
}

@media (max-width: 767px) {
    .views-item {
        padding: 0px;
    }

    .views-item-title {
        padding: 40px 0;
    }

    .views-item.map {
        margin-bottom: 15px;
    }

    .views-item.calls .call {
        margin-bottom: 20px;
    }

    .contacts-title {
        font-size: 30px;
        line-height: 35px;
    }

    .views-item-title h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .views-item.project .tags,
    .views-item.project .tags .tag-text {
        font-size: 15px;
    }

    .undertitle {
        font-size: 15px;
        line-height: 25px;
    }

    .views-item.project .project-image .img-wrap,
    .views-item.project .project-tags {
        padding-bottom: 40px;
    }

    .views-item.project .tag {
        display: block;
        padding: 0;
    }

    .views-item.project .project-image .img-wrap {
        border-bottom: 1px solid #EEEFF6;
    }

    .views-item.project .tag-text {
        padding-bottom: 2px;
    }

    
}