
.maxwidth-theme {
    max-width: 1410px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

.views-item {
    padding: 0;
}

button {
    font-weight: bold;
}

.contacts-title {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: #222222;
    margin-bottom: 25px;
}

.tags {
    line-height: 2.5;
    margin-bottom: 40px;
}

.tag {
    padding: 0 8px;
}

.tag,
.tag-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
}

.tag img {
    margin-right: 10px;
}

.tag-text {
    padding-bottom: 5px;
    border-bottom: 2px solid #feb1a7;
}

h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #222222;
    margin-bottom: 20px;
}

.undertitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    margin: 0;
}
/* 
.views-item.project {
    margin-bottom: 130px;
} */

.views-item.map {
    margin-bottom: 30px;
}

.views-item-title,
.contacts-map .block-title {
    padding: 80px 0;
}

.views-item.calls {
    margin-bottom: 70px;
}

.views-item.calls .call {
    background: #EEEFF6;
    padding: 40px;
}

.views-item.calls .call-text {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #222;
    margin-bottom: 30px;
}

.views-item.calls .call .button {
    margin-bottom: 30px;
}

.views-item.calls .call .image {
    margin-bottom: -40px;
}