body {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-size: 18px;
    line-height: 28px;
}
p.small-text,
span.small-text  {
    font-size: 14px;
    line-height: 24px;
    color: #555;
}
.views-item.light .dim {
    color: #D4D5E8;
}
h2 {
    color: #333;
    font-size: 40px;
    line-height: 50px;
}
.rounded-button  {
    display: inline;
    padding: 12px 30px;
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    color: #fff;
    background: #FB6053;
    border: 0;
    border-radius: 100px;
}
.rounded-field {
    border: 0;
    text-transform: uppercase;
    border-radius: 100px;
    background: rgba(255,255,255,0.5);
    padding: 12px 30px;
    font-size: 11px;
    line-height: 25px;
    color: #fff;
}
.rounded-field::-webkit-input-placeholder {color:#fff;}
.rounded-field::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.rounded-field:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.rounded-field:-ms-input-placeholder      {color:#fff;}

.views-item.dark .block-description-text {
    color: #555;
}
.views-item.light h3,
.views-item.light p,
.views-item.light h2 {
    color: #fff;
}
.container-fluid {
    padding: 0 50px;
    min-height: 10vh;
}
.views-item {
    margin-bottom: 0;
    position: relative;
    padding-top: 90px;
    padding-bottom: 100px;
}
.maxwidththeme {
    margin-left: auto!important;
    margin-right: auto!important;
    padding: 0 16px;
    max-width: 1344px;
    position: relative;
    width: 100%;
}
#owl-nav {
    padding: 30px 15px;
}
#owl-nav button,
.rounded-arrow-button {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: none;
    border: 1px solid #CECECE;
    outline: none;
}
#owl-nav button svg,
.rounded-arrow-button svg {
    position: relative;
    bottom: 1px;
}
#owl-nav button:hover, 
.rounded-arrow-button:hover {
    background: #FD634E;
    border-color: #FD634E;
    color: #fff;
}
button:hover .svg-prev, 
button:hover .svg-next {
    fill: #fff;
}
.views-item.big-banner {
    padding: 70px 30px 60px 40px;
    background: #333991;
    padding-top: 42px;
    padding-bottom: 0;
}
.views-item.big-banner h2 {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 35px;
    margin-top: 93px;
    margin-left: -3px;
}
.views-item.big-banner .banner-description {
    padding-left: 25px;
}
.views-item.big-banner p {
    margin-top: 35px;
    margin-bottom: 40px;
    color: #D4D5E8;

}
.views-item.big-banner p span {
    font-weight: 300;
}

.views-item.big-banner .rounded-button {
    margin: 0 3px;
}
.views-item.buisiness .buisiness-card {
    padding: 70px 30px 60px 40px;
    margin: 0 15px;
    background: #F3F5F9;
}
.icon-polygon {
    position: relative;
    bottom: 2px;
    margin-right: 9px;
}
.views-item.buisiness .buisiness-card img {
    max-width: 50px;
    margin-bottom: 26px;
}
.views-item.buisiness .buisiness-card h3{
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0;
    color: #333;
}
.views-item.buisiness .buisiness-card p {
    line-height: 25px;
    font-size: 14px;
}
.views-item.costs {
    background: #333991;
    color: #fff;
}
.views-item.costs .block-header-row {
    margin-bottom: 23px;
}
.views-item .nav-tabs-row {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.views-item.we-do-work .nav-tabs-row {
    border-bottom: 1px solid #E4E4E4;
}
.views-item.we-do-work .rate-card-caption {
    color: #777;
    font-size: 13px;
    line-height: 20px;
}
.views-item.we-do-work .rate-card {
    background: #fff;
    padding: 39px 40px 30px 40px;
}
.views-item.we-do-work .rate-card-header {
    font-size: 25px;
    line-height: 20px;
}
.blue-alert {
    color: #1D2371;
}
.red-alert {
    color: #FC6053;
}
.views-item.we-do-work .rate-card hr {
    margin: 26px 0;
}
.views-item.we-do-work .rate-card ul {
    padding: 0;
    list-style: none;
}
.views-item.we-do-work .rate-card .rate-addition {
    min-height: 400px;
}
.views-item.we-do-work .rate-card li {
    position: relative;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
    padding-left: 37px;
}
/* .views-item.we-do-work .rate-card li .img-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
} */
.views-item.we-do-work .rate-card img {
    float: left;
    /* margin-right: 15px; */
    margin-left: -37px;
}
.views-item.we-do-work .rate-card .rate-card-price {
    margin-left: 32px;
    font-size: 25px;
    line-height: 60px;
    vertical-align: middle;
}
.views-item .nav-tabs {
    border-bottom: 0;
}
.nav-tabs.costs .nav-link,
.nav-tabs.costs .nav-link.active {
    background: none;
    color: inherit;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
}
.nav-tabs.costs .nav-link:hover {
    border-color: rgba(0,0,0,0);
}
.views-item.costs .subscription {
    padding-top: 38px;
}
.views-item.costs .subscription img {
    margin-top: 8px;
}
.views-item.costs .subscription p {
    margin-bottom: 11px;
}
.views-item.costs .subscription .rounded-button,
.views-item.costs .subscription .rounded-field {
    width: 100%;
}
.views-item.light .tab-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}
.tab-pane {
    padding-top: 60px;
    padding-bottom: 80px;
}
.tab-pane .percent-cols {
    padding-top: 83px;
}
.tab-pane .percent {
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 15px;
}
.nav-tabs.costs .tab-pane .small-text {
    line-height: 25px;
}
.views-item .tab-pane .tab-header {
    font-size: 22px;
    margin: 0;
    margin-bottom: 30px;
}
.nav-tabs.costs .nav-link.active,
.nav-tabs.costs .nav-link.active:hover {
    border-bottom: 2px solid #FD634E;
}
.nav-tabs.costs .nav-item {
    margin-left: 40px;
} 
.nav-tabs.costs .nav-item:first-child {
    margin-left: 0;
} 
.views-item.how-it-works .item,
.views-item.how-it-works .buns {
    margin-bottom: 45px;
}
.views-item.how-it-works .item img {
    margin-bottom: 20px;
}
.views-item.how-it-works .stats {
    background: #F3F5F9;
}
.views-item.how-it-works .stats .stats-header {
    padding: 45px 40px;
    border-bottom: 1px solid #fff;
}
.views-item.how-it-works .stats .stats-main {
    padding: 35px 40px;
    border-bottom: 1px solid #fff;
}
.views-item.how-it-works .stats .stats-footer {
    padding: 35px 40px;
}
.views-item.how-it-works .stats .stats-main p {
    margin-bottom: 0;
}
.views-item.how-it-works h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    color: #333;
}
.block-header-row  {
    margin-bottom: 104px;
}
.views-item.how-it-works .block-header-row p {
    font-size: 18px;
    line-height: 28px;
    color: #777;
    padding-top: 5px;
}
.views-item.how-it-works p {
    font-size: 14px;
    line-height: 27px;
    color: #777;
}

.views-item.how-it-works .stats {
    width: 100%;
    background: #F3F5F9;
}

.views-item.we-do-work {
    background: #F3F5F9;
    color: #555;
}

.views-item .description-list {
    list-style: none;
    padding: 0;
}
.views-item .description-list li {
    font-size: 16px;
    line-height: 26px;
    padding: 15px 0 15px 20px;
}
.views-item .description-list li img {
    margin-left: -20px;
}
.views-item.we-do-work .description-list li span,
.views-item.result .description-list li span {
    vertical-align: middle;
    padding-left: 10px;
}
.vertical-banner {
    position: relative;
    background: #333991;
}
.views-item.what-we-do .card .rounded-arrow-button,
.vertical-banner img {
    float: right;
}
.vertical-banner .cloud-wrap {
    height: 200px;
    position: relative;
}
.cloud {
    position: absolute;
    padding: 25px 28px 25px 30px;
    display: block;
    background: #fff;
    /* top: 10px; */
    left: 0;
    right: 0px;
    bottom: -10px;
    transition: 0.1s opacity;
    margin: 0 60px;
    z-index: 10;
}
.cloud.fade-up {
    opacity: 0;
    bottom: 50px;
}
.cloud::after {
    content: '';
    display: block;
    background: #fff;
    position: absolute;
    bottom: -10px;
    right: 0;
    
    margin-right: 22%;
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    z-index: 5;
}
.cloud p {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 0;
  }
.views-item.what-we-do {
    background: #F3F5F9;
    color: #555;
}

.views-item.what-we-do .block-header {
    font-size: 25px;
    line-height: 60px;
    margin-bottom: 30px;
    font-weight: bold;
}

.views-item.what-we-do .card {
    padding: 40px;
    padding-top: 17px;
}

.views-item.what-we-do .card h3 {
    font-size: 18px;
    line-height: 60px;
    margin: 0;
}

.views-item.what-we-do .card p {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
}

.views-item.what-we-do .card .text {
    min-height: 96px;
    margin-bottom: 22px;
}

footer {
    background: #2F3338;
    min-height: 10vh;
}

svg.progress-bar {
    height: 100%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 100%;
    background: none;
    overflow: visible;
}

svg.progress-bar text {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

svg.progress-bar .progress-bar__background {
    fill: none;
    stroke: #fff;
    stroke-width: 2.8;
}

.progress-bar__progress {
    fill: none;
    stroke: #FC6053;
    stroke: #FC6053;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 100;
    stroke-linecap: round;
    stroke-width: 2.8;
    transition: stroke-dashoffset 1s ease-in-out;
}

