body {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-size: 18px;
    line-height: 28px;
}
p.small-text {
    font-size: 14px;
    line-height: 24px;
    color: #555;
}
.views-item.light .dim {
    color: #D4D5E8;
}
h2 {
    color: #333;
    font-size: 40px;
    line-height: 50px;
}
.rounded-button  {
    padding: 12px 30px;
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    color: #fff;
    background: #FB6053;
    border: 0;
    border-radius: 100px;
}
.rounded-field {
    border: 0;
    text-transform: uppercase;
    border-radius: 100px;
    background: rgba(255,255,255,0.5);
    padding: 12px 30px;
    font-size: 11px;
    line-height: 25px;
    color: #fff;
}
.rounded-field::-webkit-input-placeholder {color:#fff;}
.rounded-field::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.rounded-field:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.rounded-field:-ms-input-placeholder      {color:#fff;}

.views-item.dark .block-description-text {
    color: #555;
}
.views-item.light h3,
.views-item.light p,
.views-item.light h2 {
    color: #fff;
}
.container-fluid {
    padding: 0 50px;
    min-height: 10vh;
}
.views-item {
    margin-bottom: 0;
    position: relative;
    padding-top: 90px;
    padding-bottom: 100px;
}
.maxwidththeme {
    margin-left: auto!important;
    margin-right: auto!important;
    padding: 0 16px;
    max-width: 1344px;
    position: relative;
    width: 100%;
}
#owl-nav {
    padding: 30px 15px;
}
#owl-nav button {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: none;
    border: 1px solid #CECECE;
    outline: none;
}
#owl-nav button svg {
    position: relative;
    bottom: 1px;
}
#owl-nav button:hover {
    background: #FD634E;
    border-color: #FD634E;
    color: #fff;
}
#owl-nav button:hover .svg-prev, 
#owl-nav button:hover .svg-next {
    fill: #fff;
}
.views-item.big-banner {
    padding: 70px 30px 60px 40px;
    background: #333991;
    padding-top: 42px;
    padding-bottom: 0;
}
.views-item.big-banner h2 {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 35px;
    margin-top: 93px;
    margin-left: -3px;
}
.views-item.big-banner .banner-description {
    padding-left: 25px;
}
.views-item.big-banner p {
    margin-top: 35px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
    color: #D4D5E8;

}
.views-item.big-banner p span {
    font-weight: 300;
}

.views-item.big-banner .rounded-button {
    margin: 0 3px;
}
.views-item.buisiness .buisiness-card {
    padding: 70px 30px 60px 40px;
    margin: 0 15px;
    background: #F3F5F9;
}
.icon-polygon {
    position: relative;
    bottom: 2px;
    margin-right: 9px;
}
.views-item.buisiness .buisiness-card img {
    max-width: 50px;
    margin-bottom: 26px;
}
.views-item.buisiness .buisiness-card h3{
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0;
    color: #333;
}
.views-item.buisiness .buisiness-card p {
    line-height: 25px;
    font-size: 14px;
}
.views-item.costs {
    background: #333991;
    color: #fff;
}
.views-item.costs .block-header-row {
    margin-bottom: 23px;
}
.views-item .nav-tabs-row {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.views-item.we-do-work .nav-tabs-row {
    border-bottom: 1px solid #E4E4E4;
}
.views-item .nav-tabs {
    border-bottom: 0;
}
.nav-tabs.costs .nav-link,
.nav-tabs.costs .nav-link.active {
    background: none;
    color: inherit;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
}
.nav-tabs.costs .nav-link:hover {
    border-color: rgba(0,0,0,0);
}
.views-item.costs .subscription {
    padding-top: 38px;
}
.views-item.costs .subscription img {
    margin-top: 8px;
}
.views-item.costs .subscription p {
    margin-bottom: 11px;
}
.views-item.costs .subscription .rounded-button,
.views-item.costs .subscription .rounded-field {
    width: 100%;
}
.views-item.light .tab-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}
.tab-pane {
    padding-top: 40px;
    padding-bottom: 80px;
}
.tab-pane .percent-cols {
    padding-top: 83px;
}
.tab-pane .percent {
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 15px;
}
.nav-tabs.costs .tab-pane .small-text {
    line-height: 25px;
}
.views-item.costs .tab-pane .tab-header {
    font-size: 22px;
    line-height: 60px;
    margin: 0;
}
.nav-tabs.costs .nav-link.active,
.nav-tabs.costs .nav-link.active:hover {
    border-bottom: 2px solid #FD634E;
}
.nav-tabs.costs .nav-item {
    margin-left: 40px;
} 
.nav-tabs.costs .nav-item:first-child {
    margin-left: 0;
} 

.views-item.how-it-works h3 {
    font-size: 18px;
    line-height: 22px;
    color: #333;
}

.views-item.how-it-works p {
    font-size: 14px;
    line-height: 27px;
    color: #777;
}

.views-item.how-it-works .stats {
    width: 100%;
    background: #F3F5F9;
}

.views-item.we-do-work {
    background: #F3F5F9;
    color: #555;
}

.views-item.result ul {
    list-style: none;
    padding: 0;
}
.views-item.result ul li {
    padding: 14px 0;
}
.views-item.result ul li span {
    vertical-align: middle;
    padding-left: 10px;
}

.views-item.what-we-do {
    background: #F3F5F9;
    color: #555;
}

.views-item.what-we-do .card {
    padding: 40px;
}

.views-item.what-we-do .card h3 {
    font-size: 18px;
    line-height: 60px;
}

.views-item.what-we-do .card p {
    font-size: 14px;
    line-height: 24px;
}

footer {
    background: #2F3338;
    min-height: 10vh;
}